body{

text-align:center;

font-family:Arial;

background:#eeeeee;

}

h1{

color:blue;

}

img{

width:300px;

margin:10px;

border-radius:10px;

}

button{

padding:10px;

background:green;

color:white;

border:none;

cursor:pointer;

}